{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label {
    font-weight: 800;
  }

.info-bar {
    margin: 5px;
    padding: 3px;
    background: beige;
    font-size: large;
}


</style>
{% endblock %}
{% block content %}
<div class="info-bar">
    There are currently <b>{{ metrics.active_grants }} active grants.</b>
</div>
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'grants:add_grant' %}"><i class="fa fa-plus"></i>
          Add a Grant</a></span>
    </div>
  </div>
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">

          <form id="grants_filter" method="POST" action="">
            {% csrf_token %}
            <div class="card-header">
              <div class="card-title text-center">Filters</div>
              </div>
              <div class="card-body">
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="title">Call</label>
                    <input type="text" class="form-control" placeholder="Title" id="call" name="call" {% if request.POST %}
                      value="{{request.POST.call}}" {%endif%} />
                  </div>
                </div>

                <div class="filter_col col-md-2">
                    <div class="row">
                      <div class="form-group">
                        <label for="grant_id">Grant ID</label>
                        <input type="text" class="form-control" placeholder="Grant ID" name="grant_id" id="grant_id" {% if request.POST %}
                          value="{{request.POST.grant_id}}" {%endif%} />
                      </div>
                    </div>
                    <div class="row">
                        <label for="hide_expired">Hide Expired Grants</label>
                        <input type="checkbox" class="form-control" name="hide_expired" id="hide_expired" {% if request.POST.hide_expired %}checked{%endif%} />
                    </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Title" id="title" name="title" {% if request.POST %}
                      value="{{request.POST.title}}" {%endif%} />
                  </div>
                </div>

                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="pi">PI</label>
                    <input type="text" class="form-control" placeholder="PI" id="pi" name="pi" {% if request.POST %}
                      value="{{request.POST.pi}}" {%endif%} />
                  </div>
                </div>
                <div class="filter_col col-md-2">

                    <div class="row">
                      <div class="form-group">
                        <label for="date_range_start">Start Date</label>
                        <input type="text" class="form-control" placeholder="Start Date" name="date_range_start" id="date_range_start" {% if request.POST %}
                          value="{{request.POST.date_range_start}}" {%endif%} />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label for="date_range_end">End Date</label>
                        <input type="text" class="form-control" placeholder="End Date" name="date_range_end" id="date_range_end" {% if request.POST %}
                          value="{{request.POST.date_range_end}}" {%endif%} />
                      </div>
                    </div>

                </div>
                <input type="hidden" name="tab_status" id="tab_status">
              
                <div class="filter_col col-lg-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'grants:list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="table_container_row row marl no-gutters">
        <div class="col-md-12">

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
              <div class="card">

                  <div class="panel-heading-list card-title text-right">
                    <span class="total_count float-left">Grants - {% if show_pageitems %}
                      {% show_pageitems %}{% else %}{{grants_list|length}}{% endif %}</span>
                    <span class="filter_toggle ">
                      <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                    </span>
                  </div>

                    </div>
                    <div class="table_container_row row  ">
                      <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>

                        {% if grants_list|length > 0 %}
                        <tr>
                          <th>#</th>
                          <th>Grant ID</th>
                          <th>Title</th>
                          <th>Call</th>
            
                          <th>PI</th>
                          <th>Maturity</th>
                          <th>Has Reports</th>
                          <th>Status</th>

                          <th>Actions</th>
                        </tr>
                        {% endif %}
                      </thead>
                      <tbody>
                        {% if per_page %}
                        {% paginate per_page grants_list %}
                        {% else%}
                        {% paginate 10 grants_list %}
                        {% endif %}
                        {% for each_grant in grants_list %}
                        <tr id="account_details{{each_grant.id}}" class="text-center">
                          <td scope="row" class="s_no" data-id="{{forloop.counter}}">{{ forloop.counter }}</td>
                          <!-- <td>{% if each_grant.name %}<a
                              href="{% url 'grants:view_account' each_grant.id %}">{{ each_grant.name }}</a>{% endif %}
                          </td> -->
                          <td>{% if each_grant.grant_id %}<a 
                              
                              href="{% url "grants:review_grant" each_grant.pk %}">{{ each_grant.grant_id }}</a>{% endif %}
                          </td>
                          <td>
                            {{each_grant.title}}
                          </td>
                          <td>
                            {{each_grant.grant_application.call.call_id}}
                          </td>
                      
                          <td>{{each_grant.pi }}</td>
                          <td class=" {% if each_grant.is_expired %}expired{%endif%}">{{each_grant.show_maturity|safe }}</td>
                          <td>{% if each_grant.has_reports %}Yes {% else %} No {% endif %}</td>
                          <td class="cell {{ each_grant.approval_status }}">{{each_grant.get_approval_status_display}}</td>
                          <td class="actions">
                            <a href="{% url "grants:review_grant" each_grant.pk %}" title="View" class="btn btn-sm btn-info edit"><i
                                class="fas fa-eye"></i></a>
                                {% if request.user.role == "ADMIN" or request.user.role == "Grants Managers"  or request.user.is_superuser %}
                            <a href="{% url "grants:edit_grant" each_grant.pk %}" title="Edit" class="btn btn-sm btn-success edit m-1"><i
                                class="fas fa-pencil-alt"></i></a>
                                {% if request.user.role == "ADMIN" or request.user.is_superuser or perms.grants.delete_grant %}
                            <a href="" title="Delete" data-id="{{each_grant.pk}}" data-toggle="modal" data-target="#deletegrantmodel"
                              class="btn btn-danger btn-sm delete trash"><i class="fas fa-trash-alt"></i></a>
                              {% endif %}
                              {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
</div>
</div>

                  {% ifequal grants_list|length 0 %}
                  <h6 class="text-center">No Grant Records Found</h6>
                  {% endifequal %}
                  <div class="text-center row marl">
                    {% show_pages %}
                  </div>


            </div>

              <br clear="all">
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- filter_row ends here -->
  <!-- grants list start -->
  <!-- grants list end -->
</div>
<!-- main_container ends here -->
<!-- Modal -->
<div class="modal fade" id="deletegrantmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete this Grant?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
        <button type="button" id="approval_delete_btn" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed');
  })
 
  $('.trash').click(function () {
     var item_di=$(this).attr("data-id");
    // console.log(item_di);
     $('#approval_delete_btn').click(function(){
         var url="/grants/"+item_di+"/delete/";
       $.get(url, function (data) {
          // hideSpinner();
        window.location.reload();
     });

     });
   });


  $(".reset").click(function (e) {
    window.location = "{% url 'grants:list'%}"
  });


  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $(document).ready(function () {
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
    $('#id_tag').select2();

    ////////////////////////
    $.urlParam = function (name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)')
        .exec(window.location.search);
      return (results !== null) ? results[1] || 0 : false;
    }

    if ($.urlParam('page')) {
      $('.s_no').each(function (i, e) {
        pageNum = $.urlParam('page')
        if (!$(this).attr('data-id').endsWith('0')) {
          serialNumber = parseInt((pageNum - 1) + $(this).attr('data-id'))
          console.log(serialNumber)
        }
        else {
          serialNumber = parseInt($(this).attr('data-id')) * pageNum
          console.log(serialNumber)
        }
      })
    }
    ////////////////////////

  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#grants_filter').attr("action", $(this).attr("href"));
    $('#grants_filter').submit();
  });

  $("#date_range_start, #date_range_end").datetimepicker({
          'format': 'YYYY-MM-DD',
 });
 {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
