{% extends 'root_email_template.html' %}

{% block heading %}
Dear {{ user }}
{% endblock heading %}


{% block content_body %}
<p>This is to officially inform you that your application has been accepted. We shall get back to you for the next steps.
<br>Congratulations! </p>
<p>Grants Manager </p>
{% endblock content_body %}
{% block button_link %}
<div style="margin-bottom:20px">
    <a href="http://{{ domain }}{% url 'common:login' %}"
        style="display:inline-block;width:170px;background:#38abdd;padding:10px;text-align:center;color:#fff;font-size:1rem;font-weight:600;margin:0px auto;margin-bottom:20px;border-radius:5px;text-decoration:none;display:block">Login</a>
</div>
{% endblock button_link %}
