{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="ow marl justify-content-center login_row">
  <div class="login_block">
    <div class="login_form_block">
      <div class="card-title">
        <div class="col-md-12 ">
          <img src="{% static "img/ruforum.png" %}" width="100%;">
        </div>
      
      </div>
      <div class="welcome">Ruforum User</div>
      <p>
        Your password has been set. You may go ahead and <a href="{% url 'common:login' %}">sign in</a> now.
      </p>
     
    
    </div>
  </div>
</div>
{% endblock %}
