{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% load common_tags %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label{
    font-weight: 800;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      {% if request.user == scholarship.user or request.user.role == "ADMIN" or request.user.is_superuser %}
      <span class="d-inline"><a class="primary_btn" href="{% url 'grants_applications:select_grant_call'%}"><i class="fa fa-plus"></i>
          Add Grant
          Application</a></span>
       
          {% endif %}
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">

          <form id="leads_filter" action="" method="POST">
            {% csrf_token %}
            <div class="card-header ">
              <div class="card-title text-center">Filters</div>
  </div>
  <div class="card-body">
              <div class="row marl">

                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Applicant Name</label>
                    <input type="text" class="form-control" placeholder="Applicant Name" name="applicant_name"
                      value="{{request.POST.applicant_name}}">
                  </div>
                </div>

                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select name="state" id="" class="assigned_users_ form-control">
                      <option value="">
                        ---Select Status---</option>
                      {% for state in states %}
                      <option value="{{state.0}}" {% if state.0 == request.POST.state %} selected=""
                        {% endif %}>
                        {{state.1}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              

                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'grants_applications:list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
</div>
          </form>

      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Grant Applications Validations- {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ grants_applications|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                  </div>
                <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                      {% if grants_applications|length > 0 %}
                      <tr>
                        <th>#</th>
                     
                        <th >Call ID</th>
                        <th>Applicant</th>
          
                       <th >PHD</th>
                       <th>Budget</th>
                        <th>Member University</th>
                        <th>University Letter</th>
                        <th>Uploads</th>
                        <th>Proposal</th>
                        <th >Decision</th>
                        <th >Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page grants_applications %}
                      {% else %}
                      {% paginate 10 grants_applications %}
                      {% endif %}
                      {% for call in grants_applications %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>

                        <td>{{ call.call.call_id}}</td>
                        <td>
                            {{call.user}}
                          </td>
                      
                        <td>
                          {{call.validated_phd|yesno:"Validated,Non-Compliant"}}
                           </td>
                           <td>
                            {{call.validated_total_budget|yesno:"Validated,Non-Compliant"}}
                             </td>
                             <td>
                              {{call.validated_member_university|yesno:"Validated,Non-Compliant"}}
                               </td>
                               <td>
                                {{call.validated_university_letter|yesno:"Validated,Non-Compliant"}}
                                 </td>
                                 <td>
                                  {{call.validated_uploaded_templates|yesno:"Validated,Non-Compliant"}}
                                   </td>
                                   <td>
                                    {{call.validated_main_proposal|yesno:"Validated,Non-Compliant"}}
                                     </td>

                        <td>
                       {{call.compliant|yesno:"compliant,Non-Compliant"}}
                        </td>
                        <td class="actions">

                          {% if perms.grants_applications.validate_grant_applications %}
                          <a href="{% url 'grants_applications:validate_application' call.pk %}" class="btn btn-sm btn-info edit" title="Validate application"><i
                            class="fas fa-check"></i></a>
                            {% endif %}
                            {% if perms.grants_applications.change_grant_application %}
                            <a href="{% url 'grants_applications:assign_reviewers' call.pk %}" class="btn btn-sm btn-info edit"><i
                              class="fas fa-microscope"></i></a>
                              {% endif %}
                        {% if request.user == call.created_by or perms.grants_applications.change_grantapplication %}

                        <a href="{% url 'grants_applications:view_application' call.pk %}" class="btn btn-sm btn-info edit"><i
                          class="fas fa-eye"></i></a>
                        <!-- <a href="" class="btn btn-sm btn-success edit"><i
                            class="fas fa-pencil-alt"></i></a>
                        <a href=""
                          class="btn btn-danger btn-sm delete remove_document"><i class="fas fa-trash-alt"></i></a> -->
                        {% endif %}

                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% ifequal grants_applications|length 0 %}
                <h6 class="text-center">No Applications Found</h6>
                {% endifequal %}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br clear="all">


<!-- Modal -->
<div class="modal fade" id="deletegrantapplicationmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Delete Call</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete this Application?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
        <button type="button" id="approval_delete_btn" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--end of model-->



{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $('#id_tag').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#date_of_meeting').datetimepicker({
      'format': 'YYYY-MM-DD',
      minDate: today
    })
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed')
  })

  $("#open-tab").click(function (e) {
    $("#tab_status").val('Open')
  })

  tab_status = "{{tab_status}}"
  if (tab_status == 'Closed') {
    $("#close-tab").click()
  } else {
    $("#open-tab").click()
  }



  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
  function disabledelete(){
    document.getElementById("deleteapp").disable=true;
    alert("Application already submitted!");
  }

  //delete grant Application function
//picked the id of the grant app and placed it in the data-id attribute if the url
$('.delete').click(function () {
   var item_di=$(this).attr("data-id");
  // console.log(item_di);
   $('#approval_delete_btn').click(function(){
       var url="/grantapplications/"+item_di+"/delete/";
     $.get(url, function (data) {
        // hideSpinner();
      window.location.reload();
   });

   });
 });
 {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
