{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'grants_applications:list' %}">Grant Applications</a></li>
    <li class="breadcrumb-item active">View</li>
  </ol>
</nav>
<!-- CASE VIEW STARTS -->
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-10" id="opacity_block">
      <div class="card">
        <div class="card-header" id="datashow">
          <div class="card-title text-right">
            <h5>
              <span class="float-left title">Overview</span>
              <span class="" style="margin-top: 0px">
                {% if request.user.role == "ADMIN" or request.user.role == "Grants Managers"  or request.user.is_superuser %}
                <div class="dropdown buttons_row">

                  <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'grants_applications:edit_application' application_record.id %}">Edit</a></li>
                  </ul>
                </div>
                {% endif %}
              </span>
            </h5>
          </div>
          </div>
          <div class="card-body">
          <div class="row marl">
            <div class="col-md-4">
                    <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_title" data-name="title">Title</label>
                              <div class="application_field" id="title" data-name="title">{{ application_record.title }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_gender" data-name="gender">Gender</label>
                              <div class="application_field" id="gender" data-name="gender">{{ application_record.get_gender_display }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_last_name" data-name="last_name">Last Name</label>
                              <div class="application_field" id="last_name" data-name="last_name">{{ application_record.last_name }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_first_name" data-name="first_name">First Name</label>
                              <div class="application_field" id="first_name" data-name="first_name">{{ application_record.first_name }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_institution" data-name="institution">Place of work</label>
                              <div class="application_field" id="institution" data-name="institution">{{ application_record.institution }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_department" data-name="department">Department at Place of work</label>
                              <div class="application_field" id="department" data-name="department">{{ application_record.department }}</div>
                            </div>
                          </div>

                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_country" data-name="country">Country</label>
                              <div class="application_field" id="country" data-name="country">{{ application_record.get_country_display }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_nationality" data-name="nationality">Nationality</label>
                              <div class="application_field" id="nationality" data-name="nationality">{{ application_record.get_nationality_display }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_highest_qualification" data-name="highest_qualification">Highest Qualification</label>
                              <div class="application_field" id="highest_qualification" data-name="highest_qualification">{{ application_record.highest_qualification }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_area_of_specialisation" data-name="area_of_specialisation">Area of specialisation</label>
                              <div class="application_field" id="area_of_specialisation" data-name="area_of_specialisation">{{ application_record.area_of_specialisation }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_cv" data-name="cv">Curriculum Vitae</label>
                              <div class="application_field" id="cv" data-name="cv"><a href="{{ application_record.cv.url }}">{{ application_record.cv }}</a></div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_mobile" data-name="mobile">Mobile telephone</label>
                              <div class="application_field" id="mobile" data-name="mobile">{{ application_record.mobile }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_business_tel" data-name="business_tel">Business telephone</label>
                              <div class="application_field" id="business_tel" data-name="business_tel">{{ application_record.business_tel }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_email" data-name="email">Email</label>
                              <div class="application_field" id="business_tel" data-name="business_tel">{{ application_record.email }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_business_address" data-name="business_address">Business address</label>
                              <div class="application_field" id="business_address" data-name="business_address">{{ application_record.business_address }}</div>
                            </div>
                          </div>

            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12" id="iname">
                <div class="form-group">
                  <label class="application_field_label" for="id_commodity_focus" data-name="commodity_focus">Call ID</label>
                  <div class="application_field" id="commodity_focus" data-name="commodity_focus">{{ application_record.call.call_id }}</div>
                </div>
              </div>
                    <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_commodity_focus" data-name="commodity_focus">Commodity Focus</label>
                              <div class="application_field" id="commodity_focus" data-name="commodity_focus">{{ application_record.call.commodity_focus.name }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_theme" data-name="theme">Proposal theme</label>
                              <div class="application_field" id="theme" data-name="theme">{{ application_record.call.proposal_theme.name }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_proposal_theme" data-name="proposal_theme">Subtheme</label>
                              <div class="application_field" id="proposal_theme" data-name="proposal_theme">{{ application_record.call.proposal_sub_theme.name }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_non_university_partners" data-name="non_university_partners">Proposal</label>
                              <div class="application_field" id="non_university_partners" data-name="non_university_partners">{{ application_record.proposal }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_non_university_partners" data-name="non_university_partners">Proposal summary</label>
                              <div class="application_field" id="non_university_partners" data-name="non_university_partners">{{ application_record.proposal_title }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_non_university_partners" data-name="non_university_partners">Non University Partners</label>
                              <div class="application_field" id="non_university_partners" data-name="non_university_partners">{{ application_record.non_university_partners }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_other_departments" data-name="other_departments">Other Departments</label>
                              <div class="application_field" id="other_departments" data-name="other_departments">{{ application_record.other_departments }}</div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_other_universities" data-name="other_universities">Other Universities</label>
                              <div class="application_field" id="other_universities" data-name="other_universities">{{ application_record.other_universities }}</div>
                            </div>
                          </div>

            </div>
            <div class="col-md-4">
                    <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_supporting_letter_from_university" data-name="supporting_letter_from_university">Letter from University</label>
                              <div class="application_field" id="supporting_letter_from_university" data-name="supporting_letter_from_university"><a href="{{ application_record.supporting_letter_from_university.url }}">Letter from University</a></div>
                            </div>
                          </div>
                    <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_project_budget" data-name="project_budget">Project Budgets</label>
                              <div class="application_field" id="project_budget" data-name="project_budget"><a href="{{ application_record.project_budget.url }}">Project Budgets</a></div>
                            </div>
                          </div>


                    <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_application_form" data-name="application_form">Application Form</label>
                              <div class="application_field" id="application_form" data-name="application_form"><a href="{{ application_record.application_form.url }}" target="blank">Application Form</a></div>
                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_application_form" data-name="application_form">Collaborator CVs</label>
                              {% for cv in collaborators %}
                              <div class="application_field" id="application_form" data-name="application_form">{{ forloop.counter }}.<a href="{{ cv.cv.url }}" target="blank">{{ cv.cv }}</a></div>
                              {% endfor %}


                            </div>
                          </div>
                          <div class="filter_col col-md-12" id="iname">
                            <div class="form-group">
                              <label class="application_field_label" for="id_application_form" data-name="application_form">Support Letters</label>
                              {% for letter in supportletters %}
                              <div class="application_field" id="application_form" data-name="application_form">{{ forloop.counter }}.<a href="{{ letter.letter.url }}" target="blank">{{ letter.letter }}</a></div>
                              {% endfor %}


                            </div>
                          </div>
            </div>

          </div>
        </div>
        {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user.role == "Grants Managers" or request.user == review.reviewed_by %}
        <!-- Reviews Section starts-->
        <div class="card-header" id="datashow">
          <div class="panel-heading card-title view-pad">
            <h5>Reviews</h5>
          </div>
          </div>
          <div class="card-body">
          <div class="row">
            <div class="col-md-12">




                  <div class="table-responsive">
                  <table class="table table-hover table-bordered">

                    <thead>
                      <tr>
                          <th>Date</th>
                          <th>Score</th>
                          <th>Reviewer</th>
                          <th>Recommendation</th>
                          <th>application form</th>
                          <th>Review Form</th>
                          <th >Comments</th>
                      </tr>
                    </thead>
                    {% for review in reviews %}
                      <tr>
                        <td>{{review.date|date:'d/m/Y'}}</td>
                        <td>{{review.get_total_marks}}</td>
                        <td>{{review.reviewer}}</td>
                        <td>{{review.get_recommendation_display}}</td>
                        <td>
                          {% if review.application_form %}
                         <a href="{{review.application_form.url}}" target="blank"> Download application form</a>
                         {% else %}
                         No application Form submitted
                         {% endif %}
                       </td>
                        <td>
                           {% if review.review_form %}
                          <a href="{{review.review_form.url}}" target="blank">Review Form</a>
                          {% else %}
                          No Review Form submitted
                          {% endif %}
                        </td>
                        <td>{{review.comments}}</td>
                      </tr>
                      {% endfor %}
                       <tfoot>
                        <tr>
                          <th>
                            Average Score
                          </th>
                          <th>
                            {{average_score.score__avg}}
                          </th>
                          <th colspan="2">
                            {% if application_record.selected_for_funding == True %}
                            Selected for funding
                            {% elif application_record.selected_for_funding == False %}
                            Application Rejected
                            {% else %}
                            Decision has not been made yet
                            {% endif %}

                          </th>
                          <th colspan="2">
                            {{application_record.selected_for_funding_comments}}
                          </th>
                          <th>
                            <a class="btn primary_btn decision" data-id="{{application_record.id}}" style="color:white;" data-toggle="modal" data-target="#approveGrantApplicationmodel" >Decision
                              </button>
                          </th>
                        </tr>
                      </tfoot>

                  </table>
                </div>




            </div>
          </div>
          <div class="modal fade" id="Reviews_Cases_Modal" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Your Review</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form id="review_edit_form" method="POST">
                  <div class="modal-body">
                    <div class="form-group">
                      <textarea class="form-control mentions" textarea cols="40" rows="3" id="id_editreview"
                        name="review" placeholder="Submit Your Reviews" style="color:black;"></textarea><span>
                        <p id="ReviewEditError" style="display:none; color:red"></p>
                      </span>
                      <input type="hidden" value="{{ application.id }}" name="applicationid">
                      <input type="hidden" value="" name="reviewid" id="reviewid">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default save" id="review_edit" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Reviews Section Ends-->
        {% endif %}
      </div>
    </div>

  </div>
</div>
<br clear="all">
    <!--model to handle fellowship application deletion confirmation-->
<!-- Modal -->
<div class="modal fade" id="approveGrantApplicationmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Grant Application Decision</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Take Grant Application Decision.</p>
        <form id="reject_form" method="POST">
          <input type="hidden" name="selected_for_funding" value="False"/>
          {% csrf_token %}
          </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
        <button type="button" id="reject_grant_application" class="btn btn-primary">Reject</button>
        <a type="button" id="approve_grant_application" href="{% url 'grants:approve_grant' application_record.pk  %}" class="btn btn-success">Approve</a>
      </div>
    </div>
  </div>
</div>
<!--end of model-->

{% endblock %}
{% block js_block %}
<script src="{% static 'js/grants_applications/view_application.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">
  //reject grant Application function
//picked the id of the grant app and placed it in the data-id attribute if the url
$('.decision').click(function () {
   var item_di=$(this).attr("data-id");
  // console.log(item_di);
   $('#reject_grant_application').click(function(){

    var formData = new FormData($("#reject_form")[0]);
    $.ajax({
      url: "/grantapplications/"+item_di+"/reject",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function () {
    // ... your initialization code here (so show loader) ...
    $("#spinner").show();
     },
      success: function (response) {
        $("#spinner").hide();
        if(response.errormessage != null){
        swal({text:response.errormessage,icon:"error"}).then(() =>{
        window.location.href="{% url 'grants_applicationss:view_application' application_record.id  %}"});
        }else{
          swal({text:response.success_message,icon:"success"}).then(() =>{
        window.location.href="{% url 'grants_applicationss:view_application' application_record.id  %}"});
        }


      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log(errorThrown);
        $("#spinner").hide();
            swal({
          text: textStatus,
          icon: "An error occured",
});
        }

    });
  });

 });


</script>

{% endblock js_block %}
