{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label{
    font-weight: 800;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline m-1"><a class="primary_btn" href="{% url 'hrm:add_contract'%}"><i class="fa fa-plus"></i>
          Add New
          Contracts</a></span>
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">

          <form id="leads_filter" action="" method="POST">
            {% csrf_token %}
            <div class="card-header ">
              <div class="card-title text-center">Filters</div>
              </div>
                <div class="card-body">
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Contractor</label>
                    <input type="text" class="form-control" placeholder="Contractor's Name" name="contract_name"
                      value="{{request.POST.contract_name}}">
                  </div>
                </div>
                <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Contract Type</label>
                      <select name="type" id="" class="form-control">
                        {% for type in contract_types %}
                        <option value="{{type.0}}" {% if type.0 == request.POST.type %} selected=""
                          {% endif %}>
                          {{type.1}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="filter_col col-md-2">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Status</label>
                      <select name="status" id="" class="form-control">
                        {% for state in states %}
                        <option value="{{state.0}}" {% if state.0 == request.POST.state %} selected=""
                          {% endif %}>
                          {{state.1}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Funder</label>
                    <input type="text" class="form-control" placeholder="funder" name="funder"
                      value="{{request.POST.funder}}">
                  </div>
                </div>


                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save m-1" type="submit">Search</button>
                    <a href="{% url 'hrm:contract_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Contracts - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ contracts|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="card">
               
                <div class="table-responsive">
                  <table class="table table-hover table-bordered ">
                    <thead>
                        {% if contracts|length > 0 %}
                      <tr>
                        <th>#</th>
                        <th>Contractor's Name</th>
                        <th>Contract Type</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th>Funder</th>
                        <th class="actions">Action</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page contracts %}
                      {% else %}
                      {% paginate 10 contracts %}
                      {% endif %}
                      {% for contract in contracts %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                          {{contract.contract_name}}

                        </td>
                        <td>
                          {{contract.get_contract_type_display}}

                        </td>
                        <td>
                          {{contract.compute_duration}} days

                        </td>
                        <td>
                          {{contract.get_contract_status_display}}

                        </td>
                        <td>
                            {{contract.funder}}
                        </td>

                        <td class="actions">

                          <a href="{% url "hrm:view_contract" contract.pk %}" title="View" class="btn btn-sm btn-info edit"><i
                            class="fas fa-eye"></i></a>
                          <a title="Edit" href="{% url "hrm:edit_contract" contract.pk %}" class="btn btn-sm btn-success edit m-1"><i
                              class="fas fa-pencil-alt"></i></a>
                          <a href="" title="Delete" href=""  data-id="{{contract.pk}}" data-toggle="modal" data-target="#deletecallmodel"
                            class="btn btn-sm btn-danger delete remove_document"><i class="fas fa-trash-alt"></i></a>

                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              
                {% ifequal contracts|length 0 %}
                <h6 class="text-center">No Vehicles Found</h6>
                {% endifequal %}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deletecallmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Delete Contract</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete this Contract?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
        <button type="button" id="approval_delete_btn" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--end of model-->


{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $('#id_tag').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#date_of_meeting').datetimepicker({
      'format': 'YYYY-MM-DD',
      minDate: today
    })
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed')
  })

  $("#open-tab").click(function (e) {
    $("#tab_status").val('Open')
  })

  tab_status = "{{tab_status}}"
  if (tab_status == 'Closed') {
    $("#close-tab").click()
  } else {
    $("#open-tab").click()
  }

  $('.delete').click(function () {
     var item_di=$(this).attr("data-id");
    // console.log(item_di);
     $('#approval_delete_btn').click(function(){
         var url="/hrm/"+item_di+"/delete_contract/";
       $.get(url, function (data) {

        window.location.reload();
     });

     });
   });

  $("a[rel='page']").click(function (e) {
    e.prvehicleDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
  {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
