{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    {% block extralinks %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css"
              href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css"/>
    {% endblock %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'pme:activity_list' %}">Activities</a></li>
            <li class="breadcrumb-item active">{% if activity %}Edit{% else %}Create{% endif %}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <form id="formid" action='' method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="overview_form_block row marl justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="card-name text-center">
                            {% if activity %}EDIT{% else %}ADD{% endif %} ACTIVITY
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row marl">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="required">Activity Name
                                        {% if form.activity_name.field.required %}<span class="error_marker"
                                                                                        style="color:red">*</span>{% endif %}
                                    </label>
                                    {{ form.activity_name }}
                                    <span class="error" id="id_title">{{ form.activity_name.errors }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="workplan" class="required">Work plan
                                        {% if form.workplan.field.required %}<span class="error_marker"
                                                                                   style="color:red">*</span>{% endif %}
                                    </label>
                                    {{ form.workplan }}
                                    <span class="error" id="id_title">{{ form.workplan.errors }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sourceoffunding" class="required">Development partner
                                        {% if form.sourceoffunding.field.required %}<span class="error_marker"
                                                                                          style="color:red">*</span>{% endif %}
                                    </label>
                                    {{ form.sourceoffunding }}
                                    <span class="error" id="id_title">{{ form.sourceoffunding.errors }}</span>
                                </div>
                            </div>
                          
                          <div class="col-md-4">
                                <div class="form-group">
                                    <label for="budget" class="required">Budget{% if form.budget.field.required %}
                                        <span class="error_marker"
                                              style="color:red">*</span>{% endif %}</label>
                                    {{ form.budget }}
                                    <span class="error" id="id_title">{{ form.budget.errors }}</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="quarter" class="required">Start Date
                                        {% if form.from_date.field.required %}<span class="error_marker"
                                                                                    style="color:red">*</span>{% endif %}
                                    </label>
                                    {{ form.from_date }}
                                    <span class="error" id="id_title">{{ form.from_date.errors }}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="quarter" class="required">End Date {% if form.to_date.field.required %}
                                        <span class="error_marker"
                                              style="color:red">*</span>{% endif %}</label>
                                    {{ form.to_date }}
                                    <span class="error" id="id_title">{{ form.to_date.errors }}</span>
                                </div>
                            </div>

                         
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description" class="required">Description
                                        {% if form.description.field.required %}<span class="error_marker"
                                                                                      style="color:red">*</span>{% endif %}
                                    </label>
                                    {{ form.description }}
                                    <span class="error" id="id_title">{{ form.description.errors }}</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="row marl buttons_row form_btn_row text-center">
                                <button class="btn btn-default save" type="submit">Save</button>
                                <a href="{% url 'pme:unit_list' %}" class="btn btn-default clear"
                                   id="create_user_cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <input type="hidden" id="save_new_form" name="savenewform"> -->
        </div>
        <!-- overview ends here -->
    </form>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block js_block %}
    <script type='text/javascript'
            src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript">

        // $(document).ready(function() {
        //   $('.assigned_users').select2();
        // });
        $(document).ready(function () {

            $('#recurring_block').hide()
            $("#id_contacts").select2();
            $("#id_assigned_to").select2();
            $("#id_teams").select2();
            $("#id_start_date").css('color', 'black');
            $("#id_end_date").css('color', 'black');
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('.date').datetimepicker({
                'format': 'YYYY-MM-DD',
                minDate: today
            })

            if ($('#id_unit_type').val() == 'Recurring') {
                $('#recurring_block').show()
            } else {
                $('#recurring_block').hide()
            }

            $('#id_unit_type').on('change', function () {
                // console.log($(this).val())
                if ($(this).val() == 'Recurring') {
                    $('#recurring_block').show()
                } else {
                    $('#recurring_block').hide()
                }
            })
            // if ($('#recurring_block').length) {
            //   if ($('#id_unit_type').val() == 'Recurring') {
            //     $('#recurring_block').show()
            //   }
            //   else {
            //     $('#recurring_block').hide()
            //   }
            // }

        });
        {% for message in messages %}
            $(document).ready(function () {
                $.notify("{{message}}", "{{ message.tags }}");
            });
        {% endfor %}
    </script>
{% endblock js_block %}
