{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
{% load paginate %}
{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'events:list' %}">Event</a></li>
    <li class="breadcrumb-item active">View</li>
  </ol>
</nav>
<!-- CASE VIEW STARTS -->
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-10" id="opacity_block">
      <div class="card">
        <div class="card-header" id="datashow">
          <div class="card-title text-right">
            <h5>
              <span class="float-left title">Overview</span>
              <span class="" style="margin-top: 0px">

                <div class="dropdown buttons_row">
                  <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url "events:edit_event" eventrecord.id %}">Edit</a></li>
                  </ul>
                </div>

              </span>
            </h5>
          </div>
            </div>
            <div class="card-body">
          <div class="row marl">
              <div class="col-md-4">
              <dl>

                  <dt>Participants</dt>
                    <ol>
                      {% for participant in eventrecord.participants.all %}
                      <li>
                        {{participant.get_full_name}}
                      </li>
                      {%endfor %}
                      </ol>
                  </dd>

                  <dt>Start Date</dt>
                  <dd>{{eventrecord.start_date}}</dd>

                  <dt>End Date</dt>
                  <dd>{{eventrecord.end_date}}</dd>
                  
              </dl>
              </div>
              <div class="col-md-4">
              <dl>
                <dt>Title</dt>
                <dd>{{eventrecord.title}}</dd>
                <dt>Location</dt>
                <dd>{{eventrecord.host_city}}</dd>
                  <dt>Organizer</dt>
                  <dd>{{eventrecord.organizer}}</dd>

                
              </dl>
              </div>
              <div class="col-md-4">
              <dl>

                <dt>Partners</dt>
                <dd>{{eventrecord.partners}}</dd>

              </dl>
              </div>
        </div>

</div>

    </div>
<br clear="all">
  </div>
  <br clear="all">

</div>
</div>


{% endblock %}
