
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label{
    font-weight: 800;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  {% comment %}
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'grants_applications:add_application'%}"><i class="fa fa-plus"></i>
          Add Fellowship
          Application</a></span>
    </div>
  </div>
  {% endcomment %}
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">

          <form id="leads_filter" action="" method="POST">
            {% csrf_token %}
            <div class="card-header">
              <div class="card-title">Filters</div>
            </div>
            <div class="card-body ">
              <div class="row marl">

                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Applicant Name</label>
                    <input type="text" class="form-control" placeholder="Applicant Name" name="applicant_name"
                      value="{{request.POST.applicant_name}}">
                  </div>
                </div>

                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select name="state" id="" class="assigned_users_ form-control">
                      <option value="">
                        ------------------</option>
                      {% for state in states %}
                      <option value="{{state.0}}" {% if state.0 == request.POST.state %} selected=""
                        {% endif %}>
                        {{state.1}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% comment %}
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Users</label>
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple">
                      {% for user in users %}
                      <option value="{{user.id}}" {% if user.id|slugify in assigned_to %} selected="" {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required">Date of Meeting</label>
                    <input type="text" id="date_of_meeting" name="date_of_meeting" class="form-control"
                      value="{{request.POST.date_of_meeting}}">
                  </div>
                </div>
                {% endcomment %}
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Total Amount</label>
                    <input type="number" class="form-control" placeholder="Total Amount" name="total_amount"
                      value="{{request.POST.total_amount}}"> -->
                  </div>
                </div>
                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-4">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'fellowship_applicationss:list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">
        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open"
              aria-selected="true">Open ({{open_leads|length}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="close-tab" data-toggle="tab" href="#close" role="tab" aria-controls="close"
              aria-selected="false">Closed ({{close_leads|length}})</a>
          </li>
        </ul> -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Grant Applications Review - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ grants_applications|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if grants_applications|length > 0 %}
                      <tr>
                        <th width="5%">#</th>
                        <th width="10%">Date</th>
                        <th width="5%">Application ID</th>

                        <th width="10%">Applicant</th>
                        <th width="5%">Title</th>
                        <th width="10%">Call</th>
                        <th width="10%">Theme</th>
                        <th width="5%">Status</th>
                        <th width="10%">Review</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page grants_applications %}
                      {% else %}
                      {% paginate 10 grants_applications %}
                      {% endif %}
                      {% for call in grants_applications %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>

                        <td>{{ call.last_modified }}</td>
                        <td>{{ call.call_id }}</td>
                        <td>
                            {{call.user}}
                          </td>
                        <td>
                          {{call.proposal_title}}
                        </td>
                        <td>
                          {{call.call}}
                        </td>
                        <td>
                          {{call.proposal_theme}}
                        </td>
                        <td>
                          {% if call.selected_for_funding %}
                          <button class="green_btn">Selected for funding</button>
                          {% else %}
                          {{call.get_state_display}}
                          {% endif %}
                        </td>
                        <td class="actions">
                          {% if call.validated %}
                          <a href="{% url 'fellowship_applicationss:view_application' call.pk %}" class="btn btn-info edit" title="Review application"><i
                            class="fas fa-eye"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% ifequal grants_applications|length 0 %}
                <h6 class="text-center">No Applications Found</h6>
                {% endifequal %}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% for call in grants_applications %}

<div class="modal fade" id="exampleModalCenter_call{{call.id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ call.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ... -->
        <div class="" id="">
          <div class="">
            <div class="col-md-12" id="">
              <div class="card">
                <div class="card-body" id="datashow">
                  <div class="card-title text-right">
                    <h5>
                      <!-- <span class="float-left title">Overview</span> -->
                      <span style="margin-top: 0px">
                        <!-- <div class="dropdown buttons_row">
                          <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="">Edit</a></li>
                          </ul>
                        </div> -->
                      </span>
                    </h5>
                  </div>
                  <div class="row marl">
                    <div class="col-md-4">
                      {% if call.name %}
                      <div class="filter_col col-md-12" id="iname">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_name" data-name="name">Name</label>
                          <div class="account_field" id="account_name" data-name="name">{{ call.name }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if call.call_type %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_phone" data-name="name">Applications Type</label>
                          <div class="account_field" id="account_phone" data-name="name">{{ call.call_type }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if call.start_date %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_status" data-name="name">Start Date</label>
                          <div class="account_field" id="account_status" data-name="name">{{ call.start_date }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if call.end_date %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_status" data-name="name">End Date</label>
                          <div class="account_field" id="account_status" data-name="name">{{ call.end_date }}</div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          {% with contacts=call.contacts.all  %}
                          <label class="acc_field_label" for="id_website" data-name="name">Contacts</label>
                          {% if contacts %}
                          {% for contact in contacts %}
                          <div class="account_field" id="account_website" data-name="name">{{ contact }}</div>
                          {% endfor %}
                          {% else %}
                          <div class="account_field" id="account_website" data-name="name">None</div>
                          {% endif %}
                          {% endwith %}
                        </div>
                      </div>

                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          {% with users=call.assigned_to.all  %}
                          <label class="acc_field_label" for="id_website" data-name="name">Assigned To</label>
                          {% if users %}
                          {% for user in users %}
                          <div class="account_field" id="account_website" data-name="name">
                            <a href="{% url 'common:view_user' user.id %}">
                              {{ user }}
                            </a>
                          </div>
                          {% endfor %}
                          {% else %}
                          <div class="account_field" id="account_website" data-name="name">None</div>
                          {% endif %}
                          {% endwith %}
                        </div>
                      </div>
                      {% if call.start_time %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Start Time</label>
                          <div class="account_field" id="account_website" data-name="name">{{call.start_time}}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if call.end_time %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">End Time</label>
                          <div class="account_field" id="account_website" data-name="name">{{call.end_time}}</div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      {% if call.description %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Description</label>
                          <div class="account_field" id="account_website" data-name="name">{{ call.description }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if call.date_of_meeting %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Date Of Meeting</label>
                          <div class="account_field" id="account_website" data-name="name">{{ call.date_of_meeting }}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="created_information">
                    Created by <b>{{ call.created_by }}</b> created on
                    <b>{{ call.created_on }}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->



{% endfor %}

{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $('#id_tag').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#date_of_meeting').datetimepicker({
      'format': 'YYYY-MM-DD',
      minDate: today
    })
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed')
  })

  $("#open-tab").click(function (e) {
    $("#tab_status").val('Open')
  })

  tab_status = "{{tab_status}}"
  if (tab_status == 'Closed') {
    $("#close-tab").click()
  } else {
    $("#open-tab").click()
  }


  $("a[rel='page']").click(function (e) {
    e.prcallDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
  
 {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
