{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruforum</title>
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <!-- Custom styling plus plugins -->
    {% compress css %}
    <link href="{% static 'css/main.scss' %}" type="text/x-scss" rel="stylesheet">
    {% endcompress %}
    <style>
    .container {
      background: #ffffff;
      border: 1px solid #cccccc;
    }
    </style>
    {% block extralinks %}{% endblock %}
  </head>
  <body class="login_register_body">
    <div class="container mt-5">
      <div class="row justify-content-center login_row">
          <div class="col-md-6 col-lg-6 col-xl-4 mt-5">
            <img src="{% static "img/ruforum.png" %}">
          </div>
      </div>
      <div class="row  justify-content-center login_row">
          <div class="col-md-8 col-lg-8 text-center">
              <div class="login_block">
                  <div class="login_form_block" style="margin-top: 5px;padding-top: 25px;">
              <h4>RUFORUM Information Management System (RIMS)</h4>
              <h2 class="text-center">
                403 Forbidden
              </h2>
             
                <h3>The page you're looking for could not be loaded.</h3>
                <hr />
                <p>Make sure the address is correct and that you have permissions to access the page.</p>
                <p>Please contact your administrator if you think this is a mistake.</p>
                GO back Home<a href="/"> Ruforum Home</a> </a>
           
          </div>
          </div>
        </div>
       
      </div>
    </div>
  </body>
</html>
