{% extends 'printbase.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}

<!-- CASE VIEW STARTS -->


      <div class="card">
        <div class="card-header" id="datashow">
          <div class="card-title text-center">
            <h5>
              <span class="float-lef">RUFORUM</span>
            </h5>
          </div>
            </div>
            <div class="card-body">
          <div class="row marl">
              <div class="col-md-12">
              <h4>Fellowship Call</h4>
              <dl>

                  <dt>Title:</dt>
                  <dd>{{callrecord.title}}</dd>

                  <dt>Call ID:</dt>
                  <dd>{{callrecord.call_id}}</dd>
                  <dt>Stipulated Start Date:</dt>
                  <dd>{{callrecord.start_date}}</dd>
                  <dt>Stipulated End Date</dt>
                  <dd>{{callrecord.end_date}}</dd>
                  <dt>Duration:</dt>
                  <dd>{{callrecord.duration}}</dd>

                  <dt>Submission Deadline:</dt>
                  <dd>{{callrecord.submission_deadline}}</dd>

                  <dt>Goal:</dt>
                  <dd>{{callrecord.goal}}</dd>
                  <dt>Objective:</dt>
                  <dd>{{callrecord.objectives}}</dd>
                  <dt>who can apply:</dt>
                  <dd>{{callrecord.who_can_apply}}</dd>
                  <dt>Financial Support:</dt>
                  <dd>{{callrecord.financial_support}}</dd>
                  <dt>Member Universities:</dt>
                  <dd>{{callrecord.member_university}}</dd>
                  <dt>Home/Host Institution Obligations:</dt>
                  <dd>{{callrecord.institute_obligations}}</dd>

              </dl>




              </div>
        </div>

</div>

    </div>


{% endblock %}
