{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% load common_tags %}

{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  {% if perms.calls.add_call %}
  <div class="row marl">
    
    <div class="col-lg-12 text-right m-1">
      <span class="d-inline"><a class="primary_btn m-1" href="{% url 'calls:add_scholar_call'%}"><i class="fa fa-plus"></i>
        Add New
        Call</a></span>
    </div>
    
      <span class="text-left ml-4">Scholarship Calls -
     
        {{ calls|length }}</span>
  </div>
  {% endif %}
  <!-- heading_create ends here -->

  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
           
            <div class="card">
                <div class="table-responsive">
                  <div id="toolbar">
                    {% if request.user.role == "ADMIN" or request.user.is_superuser or perms.contacts.can_delete_contacts %}
                    <button id="remove" class="btn btn-danger" title="Delete" disabled>
                      <i class="fa fa-trash"></i>Delete
                    </button>
                 {% endif %}
                  </div>
                  <table
                  id="table"
                  data-toggle="table"
                  data-show-toggle="true"
                  data-search="true"
                  data-show-search-button="true"
                  data-show-refresh="true"
                  data-show-fullscreen="true"
                  data-show-columns="true"
                  data-show-columns-toggle-all="true"
                  data-show-export="true"
                  data-click-to-select="true"
                  data-minimum-count-columns="2"
                  data-show-pagination-switch="true"
                  data-pagination="true"
                  data-id-field="id"
                  data-total-field="count"
                  data-data-field="results"
                  data-toolbar="#toolbar"
                  data-side-pagination="server"
                  data-server-sort="false"
                  data-export-types="[‘csv’,‘doc’, ‘excel’, ‘pdf’]"
                  data-page-list="[10, 25, 50, 100, all]"
                  data-url="/calls/api/scholarshipcalls/"
                  data-response-handler="responseHandler">
                    <thead>
                   
                      <tr class="text-center">
                        {% if request.user.role == "ADMIN" or request.user.is_superuser or perms.contacts.can_delete_contacts %}
                        <th data-field="state" data-checkbox="true"></th>
                        {% endif %}
                        <th data-field="call_id" data-sortable="true">Call ID</th>
                        <th data-field="title" data-sortable="true">Title</th>
                        <th data-field="scholarship_type"  data-sortable="true">Type</th>
                        {% if perms.calls.change_call %}
                        <th data-field="applications"  data-sortable="true">Applications</th>
                        {% endif %}
                        <th data-field="submission_deadline"  data-sortable="true" >Submission Deadline</th>

                        <th data-field="start_date" data-visible="false"  data-sortable="true">Start Date</th>
                        <th data-visible="false" data-field="end_date">End Date</th>
                        <th data-formatter="operateFormatter"  class="text-center">Action</th> 
                      </tr>
                    
                    </thead>
                 
              
                  </table>
                </div>
              
  
</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>






{%endblock%}
{% block js_block %}
<script type="text/javascript">

var $table = $('#table')
  var $remove = $('#remove')

  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }



  function operateFormatter(value, row, index) {
    var url ="/calls/"+row.id+"/Scholarshipcall/edit/"
    var detail_url = "/calls/"+row.id+"/scholarship/view"
    var apply_url = "/scholarships/create/"+row.id
    var data_id = row.id
    return [
    {% if request.user.role == "ADMIN" or request.user.is_superuser or perms.calls.view_call %}
    '<a class="btn btn-sm btn-info view" href="'+detail_url+'" title="Detail">',
      '<i class="fa fa-eye"></i>',
      '</a>  ',
      {% endif %}
      {% if request.user.role == "ADMIN" or request.user.is_superuser or perms.contacts.can_edit_contacts %}
      '<a class="btn btn-sm btn-success edit" href="'+url+'" title="Edit">',
      '<i class="fa fa-pencil-alt"></i>',
      '</a>  ',
      {% endif %}
      {% if user|has_group:"Applicants" or user|has_group:"Students" or user|has_group:"Pis" %}
      '<a class="btn btn-sm btn-success edit" href="'+apply_url+'" title="Edit">',
      
      'Apply</a>  ',
      {% endif %}
     
    ].join('')
  }


  ///used cookies to get crsf token
  function getCookie(c_name)
    {
      if (document.cookie.length > 0)
        {
          c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
         {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
         }
     }
      return "";
   }

  function initTable() {

    $table.on('check.bs.table uncheck.bs.table ' +
      'check-all.bs.table uncheck-all.bs.table',
    function () {
      $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
  
      // save your data, here just save the current page
      selections = getIdSelections()
      // push or splice the selections if you want to save all data selections
    })
    $table.on('all.bs.table', function (e, name, args) {
      console.log(name, args)
    })
    ///multiple delete
    $remove.click(function () {
      var ids = getIdSelections()
      $remove.prop('disabled', true)

      swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover these records!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    for(id=0; id<ids.length; id++){
        console.log(ids[id]);

    $.ajax({
        url: "/calls/api/scholarshipcalls/"+ids[id],
        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'DELETE',
        contentType: 'application/json',
        success: function(result) {
          console.log('deleted successfule');
          swal("Your record/s have been deleted successfully!", {
            icon: "success",
    }).then(() =>{
        window.location.reload()});
        },
       });
    }
  } else {
    swal("You have cancelled the deletion of records!");
  }
});

    })


  }

  $(function() {
    initTable()

    $('#locale').change(initTable)
  })

  $('.delete').click(function () {
     var item_di=$(this).attr("data-id");
    // console.log(item_di);
     $('#approval_delete_btn').click(function(){
         var url="/contacts/"+item_di+"/delete/";

      //$('.edu_approve').hide();
        //   showSpinner();
       $.get(url, function (data) {
          // hideSpinner();
        window.location.reload();
     });

     });
   });

  {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
