{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'scholarships:reviewed_scholarships_list' %}">Scholarships</a></li>
    <li class="breadcrumb-item active">{% if scholarship %}Edit{% else %}Approve{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}

<form id="formid" action='' method="POST" novalidate enctype="multipart/form-data">{% csrf_token %}
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">
            {% if scholarship %}EDIT{% else %}APPROVE{% endif %} SCHOLARSHIP APPLICATION
          </div>
          </div>
          <div class="card-body">
          <div class="row marl">

            <legend class="mx-3">{{applicant}}</legend>
              <div class="filter_col col-6">
                <div class="form-group">
                  <label for="id_sattus">Programme Applied For{% if scholarship_form.programme_applied_for.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ scholarship_form.programme_applied_for }}
                  <span class="error" id="id__budget">{{ scholarship_form.programme_applied_for.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-6">
                <div class="form-group">
                  <label for="id_sattus">Institution{% if scholarship_form.institution.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ scholarship_form.institution }}
                  <span class="error" id="id__start_date">{{ scholarship_form.institution.errors }}</span>
                </div>
              </div>

              <div class="filter_col col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Start Date </label>
                  {{scholarship_form.start_date}}
                  <span class="error" id="id__students">{{ scholarship_form.start_date.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-4">
                <div class="form-group">
                  <label for="id_sattus">End Date{% if scholarship_form.end_date.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ form.end_date }}
                  <span class="error" id="id__start_date">{{ scholarship_form.end_date.errors }}</span>
                </div>
              </div>

            
                  <div class="filter_col col-4">
                    <div class="form-group">
                      <label for="id_sattus">Reporting period{% if scholarship_form.reporting_period.field.required %}<span
                          class="error">*</span>{% endif %}</label>
                      {{ scholarship_form.reporting_period }}
                      <span class="error">{{ scholarship_form.reporting_period.errors }}</span>
                    </div>
                  </div>
                </div>
                
              <div class="filter_col col-md-12">
                <div class="form-group ">
                  <label for="exampleInputEmail1" class="required">Comment
                    {% if scholarship_form.selected_for_funding_comments.field.required %}<span class="error_marker"
                      style="color:red">*</span>{% endif %}</label>
                  {{ scholarship_form.selected_for_funding_comments }}
                  <span class="error" id="id__project_objectives">{{ scholarship_form.selected_for_funding_comments.errors }}</span>
                </div>
              </div>

              </div>
            <div class="col-md-12">
              <div class="row marl buttons_row form_btn_row text-center">
                <button class="btn btn-default save" type="submit" id="call_save">Save</button>
                <a href="{% url 'scholarships:reviewed_scholarships_list' %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
              </div>
            </div>
          </div>
          </div>
      <!--end of card body-->
      </div>
    </div>
    <input type="hidden" id="save_new_form" name="savenewform">

  <!-- overview ends here -->
</form>
<br clear="all">
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block js_block %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">

  $(document).ready(function () {

    //$("#id_pi").select2();
    $("#id_students").select2();
    $("#id_grant_application").select2();
    $("#id_pi").select2();

  });



  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#formid').submit()
  });
  {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}


</script>

{% endblock js_block %}

{% block run_jquery %}
    {% if not grant %}
    $('#id_approval_status').closest('.form-group').hide()
    {% endif %}
{% endblock %}
