{% extends 'printbase.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
{% block extralinks %}
{% load common_tags %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}

<!-- CASE VIEW STARTS -->
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-10" id="opacity_block">
      <div class="card">
        <div class="card-header" id="datashow">
          <div class="card-title text-right">
            <h5>
              <span class="float-left title">RUFORUM SCHOLARSHIP APPLICATION</span>
            </h5>
          </div>
            </div>
            <div class="card-body">
                <div class="row marl">
                    <div class="col-md-10">
                   
                      <div class="row">
                        <div class="col-md-3">
                          <div class="col-auto">
                            <div class="avatar-wrapper" data-tippy-placement="bottom" title="Passport Photo">
                              {% if application_record.passport_photo %}
                              <img alt="Passport Photo" class="profile-pic" src="{{application_record.passport_photo.url}}" />
                              {% else %}
                                <img alt="" class="profile-pic" src="{% static 'images/user.png'%}"/>
                                {% endif %}
                                <div class="upload-button"></div>
      
                            </div>
                        </div>
                      </div>
                        <div class="col-md-9">
                          <h4>Bio data</h4>
                          <b>Last Name:</b>{{application_record.last_name}}<br>
                          <b>First Name:</b>{{application_record.first_name}}<br>
                          <b>Other Names:</b>{{application_record.other_names}}<br>
                          <b>Nationality:</b> {{application_record.mastercardscholarshipapplication.get_country_of_residence_display}}<br>
                          <b>Gender:</b> {{application_record.get_gender_display}}<br>
                          <!--<b>Marital Status:</b> {{application_record.get_marital_status_display}}<br>-->
                          <h4>Place of birth</h4>
                          <b>Date Of Birth:</b> {{application_record.date_of_birth}}<br>
                          <b>Village of Birth:</b>{{application_record.mastercardscholarshipapplication.village_of_birth }}<br>
                          <b>District of Birth:</b>{{application_record.mastercardscholarshipapplication.district_of_birth}}<br>
                          <b>Country of Birth:</b> {{application_record.mastercardscholarshipapplication.get_country_of_birth_display}}<br>
      
                            <h4>Residence contact address</h4>
                            <b>Village of residence:</b> {{application_record.mastercardscholarshipapplication.village_of_residence}}<br>
                            <b>District of residence:</b> {{application_record.mastercardscholarshipapplication.district_of_residence}}<br>
                            <b>Country of residence:</b> {{application_record.mastercardscholarshipapplication.get_country_of_residence_display}}<br>
                            <b>Nearest major road:</b> {{application_record.mastercardscholarshipapplication.nearest_major_road}}<br>
                            <b>Sketch Map:</b>
                            {% if application_record.mastercardscholarshipapplication.sketch_map%}
                              <a href="{{application_record.mastercardscholarshipapplication.sketch_map.url}}">{{application_record.mastercardscholarshipapplication.sketch_map}}<br></a>
                            {% else %}
                            No sketch map attached
                              {% endif %}
                            <b>Telephone contact:</b> {{application_record.mastercardscholarshipapplication.telephone_contacts}}<br>
      
                            <!--<b> Email:</b> {{application_record.otherscholarshipapplication.contact_email}}<br>
                              <b>Residence contact address:</b> {{application_record.otherscholarshipapplication.residence_contact_address}}<br> -->
                             <b> Telephone owner:</b>  {{application_record.mastercardscholarshipapplication.telephone_owner}}<br>
                              <!--end of applicant's data-->
                              <h4>Family Background and History</h4>
                              {% if family_backgrounds|length > 0 %}
                              {% for row in family_backgrounds %}
                              <div>
                                  <dt>{{ parents|get_at_index:forloop.counter0 }}</dt>
                                  <b>Full Name:</b>
                                  {{row.full_name}}<br>
                                  <b>Status:</b>
                                  {{row.status}}
                                  {%if row.status == "deceased"%}
                                  <b>Date of Death:</b>
                                  {{row.date_of_death}}<br>
                                  <b>Death Certificate:</b>
                                  {%endif%}
                                  <a href="{{application_record.family_backgrounds.death_certificate}}.url">
                                  {{row.death_certificate}}</a> <br>
                                  <b>Disability:</b>
                                  {{row.disability}}<br>
                                  <b>Occupation:</b>
                                  {{row.occupation}}<br>
                                  <b>Organisation:</b>
                                  {{row.organisation}}<br>
                                  <b>Gross annual income:</b>
                                  {{row.gross_annual_income}}<br>
      
      
                            </div>
                                  {% endfor %}
                                  {% else %}
                                  {% endif %}
                            
                              <b> Name of guardian or spouse:</b>  {{application_record.mastercardscholarshipapplication.name_of_guardian_or_spouse}}<br>
                              <b> Guardian / spouse phone:</b>  {{application_record.mastercardscholarshipapplication.guardian_or_spouse_phone}}<br>
                              <b>Guardian relationship: </b>  {{application_record.mastercardscholarshipapplication.guardian_relationship}}<br>
                              <b>Guardian or spouse occupation: </b>  {{application_record.mastercardscholarshipapplication.guardian_occupation}}<br>
                              <b>Number of siblings: </b>  {{application_record.mastercardscholarshipapplication.number_of_siblings}}<br>
                              <br>
      
                                  <h4>Education Background</h4>
                                  <b>Primary level:</b>
                                  {% if application_record.mastercardscholarshipapplication.primary_certificate %}
                                    <a href="{{application_record.mastercardscholarshipapplication.primary_certificate.url}}">{{application_record.mastercardscholarshipapplication.primary_certificate}}<br></a>
                                  {% else %}
                                  No primary certificate attached
                                    {% endif %}
      
                                    <b>Secondary level:</b>
                                    {% if application_record.mastercardscholarshipapplication.secondary_certificate %}
                                    <a href="{{application_record.mastercardscholarshipapplication.secondary_certificate.url}}">{{application_record.mastercardscholarshipapplication.secondary_certificate}}<br></a>
                                  {% else %}
                                  No secondary certificate attached
                                    {% endif %}
      
                                    <b>Tertiary level:</b>
                                    {% if application_record.mastercardscholarshipapplication.tertiary_certificate %}
                                    <a href="{{application_record.mastercardscholarshipapplication.tertiary_certificate.url}}">{{application_record.mastercardscholarshipapplication.tertiary_certificate}}<br></a>
                                  {% else %}
                                  No tertiary certificate attached
                                    {% endif %}
                                    <br>
                                    <b>University level:</b>
                                    {% if application_record.mastercardscholarshipapplication.university_certificate %}
                                    <a href="{{application_record.mastercardscholarshipapplication.university_certificate.url}}">{{application_record.mastercardscholarshipapplication.university_certificate}}<br></a>
                                  {% else %}
                                  No university certificate attached
                                    {% endif %}
      
                                    <h4>Publications and Research Projects</h4>
                                    {% for row in publications %}
                                   <br>
                                  <dt>Research project: {{ forloop.counter }}</dt>
                                  <b>Level:</b>
                                  {{row.code}}<br>
                                  <b>Title:</b>
                                  {{row.title}}<br>
                                  <b>Description:</b>
                                  {{row.description}}<br>
                                  {% endfor %}
      
      
                                  <h4>Family associated Information</h4>
                                  {% for row in Household_incomesource %}
      
                                  <dt>Household Income source: {{ forloop.counter }}</dt>
                                  <b>Source:</b>
                                  {{row.source}}<br>
                                  <b>Amount:</b>
                                  {{row.amount}}<br>
                                  {% endfor %}
      
      
      
      
                                  <b>Most Significant contribution:    </b>
                                    {% for row in application_record.mastercardscholarshipapplication.income_contrib3efc.all %}
                                    {{row}}
                                    {% endfor %}<br>
                                    <b>Does your household own livestock:</b>
                                   {{application_record.mastercardscholarshipapplication.own_livestock|yesno:"Yes,No"}} <br>
                                   {% if own_livestock %}
                                   {{application_record.mastercardscholarshipapplication.number_of_donkeys}} <br>
                                   {{application_record.mastercardscholarshipapplication.number_of_camels}} <br>
                                   {{application_record.mastercardscholarshipapplication.number_of_cattle}} <br>
                                   {{application_record.mastercardscholarshipapplication.number_of_chickens}} <br>
                                   {{application_record.mastercardscholarshipapplication.number_of_goats}} <br>
                                   {{application_record.mastercardscholarshipapplication.number_of_sheep}} <br>
                                   {% endif %}
      
                                   <b>Is your family house connected to electricity?</b>
                                   {{application_record.mastercardscholarshipapplication.electricity|yesno:"Yes,No"}} <br>
                                   <b>What type of toilet do you have? </b>
                                   {{application_record.mastercardscholarshipapplication.toilet_type|yesno:"flush and pour,vip, covered pit, uncovered pit, composting, none, ecosan"}} <br>
                                   <b>How many people share this toilet?</b>
                                   {{application_record.mastercardscholarshipapplication.how_many_share_toilet}}<br>
                                   <b>What is your major water source for household use?</b>
                                   {{application_record.mastercardscholarshipapplication.water_source}} <br>
                                   <b>Other water source:</b>
                                   {{application_record.mastercardscholarshipapplication.other_water_source}} <br>
                                   <b>Distance to the water source(kM):</b>
                                   {{application_record.mastercardscholarshipapplication.distance_to_the_source}}<br>
      
      
      
                                   <br>
                                 <b> What are your current sources of income? Rank them in order of importance</b>
                                 {{application_record.mastercardscholarshipapplication.income_source_1}}<br>
                                 {{application_record.mastercardscholarshipapplication.income_source_2}}</br>
                                 {{application_record.mastercardscholarshipapplication.income_source_3}}</br>
                                 {{application_record.mastercardscholarshipapplication.income_source_4}}<br>
                                  <b>  Number of people living in the house</b>
                                >{{application_record.mastercardscholarshipapplication.people_in_house}}<br>
                                  <b>After high school, did you ever have any pending school fees balances?</b>
                                   {{application_record.mastercardscholarshipapplication.pending_high_school_balances|yesno:"Yes,No"}} <br>
                                   <b>School balances:</b>
                                   {{application_record.mastercardscholarshipapplication.school_balances}} <br>
                                 <h4> Leadership experience and participation in community activities</h4>
                                 <b>Have you held any leadership position in your life time?</b>
                                  {{application_record.mastercardscholarshipapplication.held_leadership_position|yesno:"Yes,No"}} <br>
      
                                 {% if Leadership_positions.length > 0 %}
                                 {% for row in Leadership_positions %}
      <br>
                                     <b>Position: {{ forloop.counter }}</b>
                                     <b>Leadership position:</b>
                                     {{row.position}}<br>
                                     <b>Group:</b>
                                     {{row.group}}<br>
      
                                     <b>Year:</b>
                                     {{row.year}}<br>
      
                                     {% if application_record.mastercardscholarshipapplication.certificate %}
                                     <a href="{{application_record.mastercardscholarshipapplication.certificate.url}}">{{application_record.mastercardscholarshipapplication.certificate}}<br></a>
                                   {% else %}
                                   No certificate attached
                                     {% endif %}
                                     {% endfor %}
                                     {% endif %}
      
                                <b>Using concrete examples, briefly describe your experience in relation to agriculture, livestock, and natural resources.</b>
                                   {{application_record.mastercardscholarshipapplication.experience}}</br>
                                   <b>What is the most important challenge or problem that you have faced in your life, and how did you overcome or solve it</b>
                                   {{application_record.mastercardscholarshipapplication.challenge}} <br>
                                   <b>Please rank in order of preference the first three sectors you would like to work in the most.</b>
                                   <b>Sector 1</b>
                                   {{application_record.mastercardscholarshipapplication.sector_1}}</br>
                                   <b>Sector 2</b>
                                   {{application_record.mastercardscholarshipapplication.sector_2}} <br>
                                   <b>Sector 3</b>
                                   {{application_record.mastercardscholarshipapplication.sector_3}}<br>
      
                                   <h4>Work Experience (to be filled by Postgraduate and Masters Applicants Only)</h4>
      
      
                                 {% if work_experiences.length > 0 %}
                                 {% for row in work_experiences %}
      <br>
                                     <dt>Position: {{ forloop.counter }}</dt>
                                     <b>Organisation:</b>
                                     {{row.organisation}}<br>
                                     <b>Employed from:</b>
                                     {{row.employed_from}}<br>
      
                                     <b>Employed to:</b>
                                     {{row.employed_to}}<br>
                                     <b>Average Monthly Salary:</b>
                                     {{row.average_monthly_salary}}<br>
                                     <b>Reason for leaving:</b>
                                     {{row.reason_for_leaving}}<br>
                                  {%endfor%}
                                  {%endif%}
      
                                  <b>What degree program did you persue at undergraduate level?</b>
                                  <b>Degree program:</b>
                                  {{application_record.mastercardscholarshipapplication.degree_program}} <br>
                                  <b>Grading Criteria:</b>
                                  {{application_record.mastercardscholarshipapplication.grading_creteria}} <br>
                                  <b>Grade:</b>
                                  {{application_record.mastercardscholarshipapplication.total_score}} <br>
                                  <b>Grade:</b>
                                  {{application_record.mastercardscholarshipapplication.total_score}} <br>
                                  <b>Institution:</b>
                                  {{application_record.mastercardscholarshipapplication.institution}} <br>
                                  <b>Year of completion:</b>
                                  {{application_record.mastercardscholarshipapplication.year_of_completion}} <br>
                                  <b>Describe your most significant contribution to each of the organizations you have listed above:</b>
                                  {{application_record.mastercardscholarshipapplication.most_significant_contribution}} <br>
      
                                  <b>Do you have full support of your current employer to undertake graduate studies through full release?:</b>
                                  {{application_record.mastercardscholarshipapplication.employer_support|yesno:"Yes,No"}} <br>
                                  <b>letter of no objection/endorsement</b>
      
                                    {% if application_record.mastercardscholarshipapplication.support_evidence %} <br>
                                    <a href="{{application_record.mastercardscholarshipapplication.support_evidence.url}}" target="blank">{{row.support_evidence}}</a>
                                    {% else %}
                                    No Letter attached
                                    {% endif %}
      
                                    <b>Do you have any physical disability?</b>
                                    {{application_record.mastercardscholarshipapplication.have_physical_disability|yesno:"Yes,No"}} <br>
                                   
                                      <b>Disability:</b>
                                      {{application_record.mastercardscholarshipapplication.physical_disability}} <br>
                                      <b>Do you have any past medical history of chronic illness</b>
                                    {{application_record.mastercardscholarshipapplication.have_history_of_chronic_illness|yesno:"Yes,No"}} <br>
                                    
                                    <b>History of Chronic Illness:</b>
                                    {{application_record.mastercardscholarshipapplication.history_of_chronic_illness}} <br>
                                    <b>Have you ever been arrested and/or convicted by a court of Law (apart from a traffic offense)</b>
                                    {{application_record.mastercardscholarshipapplication.have_been_arrested|yesno:"Yes,No"}} <br>
                                    <b>Cause of arrest:</b>
                                    {{application_record.mastercardscholarshipapplication.cause_of_arrest}} <br>
                                    <b>Was English your language of instruction in High school?</b>
                                    {{application_record.otherscholarshipapplication.english_in_high_school|yesno:"Yes,No"}} <br>
                                    <b>How did you learn about the Scholarship call?</b>
                                    {{application_record.otherscholarshipapplication.scholarship_call_source|yesno:"Yes,No"}} <br>
                                    
                                    <!-- <dt>Name of University:</dt>
                        <dd>{{application_record.otherscholarshipapplication.name_of_university}}</dd>
      
                        <dt>Programme applied for:</dt>
                        <dd>{{application_record.programme_applied_for}}</dd>
      
                        <dt>Scholarship Call ID:</dt>
                        <dd>{{application_record.call}}</dd>
                         <h3>Educational Data</h3>
                         {% if application_record.othereducation_set.all|length > 0 %}
                    {% for row in application_record.othereducation_set.all %}
                    <dl>
      
                         <dt>Record: {{ forloop.counter }}</dt>
                        <dt>Institution:</dt>
                        <dd>{{row.institution}}</dd>
      
                        <dt>Country:</dt>
                        <dd>{{row.get_country_display}}</dd>
      
                        <dt>Dates From:</dt>
                        <dd>{{row.date_from}}</dd>
      
                        <dt>Dates To:</dt>
                        <dd>{{row.date_to}}</dd>
                        <dt>Academic Document</dt>
                        <dd>
                          {% if row.file %}
                          <a href="{{row.file.url}}" target="blank">{{row.file}}</a>
                          {% else %}
                          No Academic Document attached
                          {% endif %}
                        </dd>
                    </dl>
                    {% endfor %}
                    {% else %}
                    <h6 class="text-center">No Education Records Found</h6>
                    {% endif %}
                    <h3>Research Projects</h3>
                    {% if publications|length > 0 %}
                    {% for row in publications %}
                    <dl>
                      <dt>Record: {{ forloop.counter }}</dt>
                        <dt>Level:</dt>
                        <dd>{{row.code}}</dd>
      
                        <dt>Particular:</dt>
                        <dd>{{row.particular}}</dd>
      
                        <dt>Title:</dt>
                        <dd>{{row.title}}</dd>
      
      
                        <dt>Description:</dt>
                        <dd>{{row.description|linebreaks}}</dd>
      
                    </dl>
                    {% endfor %}
                    {% else %}
                    <h6 class="text-center">No Research Projects Records Found</h6>
                    {% endif %}
      
                    <h3>Publications</h3>
                    {% if publication_papers|length > 0 %}
                    {% for row in publication_papers %}
                    <dl>
                      <dt>Record: {{ forloop.counter }}</dt>
                        <dt>Title:</dt>
                        <dd>{{row.title}}</dd>
      
                        <dt>published papers:</dt>
                        <dd>
                          {% if row.published_file %}
                          <a href="{{referee.published_file.url}}">{{row.published_file}}</a>
                          {% else %}
                          No published papers
                          {% endif %}
      
                        </dd>
      
                    </dl>
                    {% endfor %}
                    {% else %}
                    <h6 class="text-center">No publication Records Found</h6>
                        {% endif %}
                        <h3>Employment History</h3>
                        {% if application_record.employmenthistory_set.all|length > 0 %}
                        {% for row in application_record.employmenthistory_set.all %}
                        <dl>
                          <dt>Record: {{ forloop.counter }}</dt>
                            <dt>Oranisation</dt>
                            <dd>{{row.organisation}}</dd>
                            <dt>Address</dt>
                            <dd>{{row.organisation_address}}</dd>
      
                            <dt>Employed From</dt>
                            <dd>{{row.employed_from}}</dd>
      
                            <dt>Employed To</dt>
                            <dd>{{row.employed_to}}</dd>
      
      
                            <dt>Reason for Leaving</dt>
                            <dd>{{row.reason_for_leaving|linebreaks}}</dd>
      
                        </dl>
                        {% endfor %}
                        {% else %}
                        <h6 class="text-center">No Employment History Records Found</h6>
                        {% endif %}
                        <dt>Work Experience</dt>
                        <dd>
                          {% if application_record.otherscholarshipapplication.experience %}
                          {{application_record.otherscholarshipapplication.experience}}
                          {% else %}
                          No Work Experience
                          {% endif %}
      
                        </dd>
                        <h3>Research Interest</h3>
      
                        <dt>Possible research interest/Topic:</dt>
                        <dd>{{application_record.otherscholarshipapplication.research_experience|linebreaks}}</dd>
      
                        <dt>Research Location</dt>
                        <dd>{{application_record.otherscholarshipapplication.get_research_location_display}}</dd>
      
      
                        <dt>Reason for selecting the above location:</dt>
                        <dd>{{application_record.otherscholarshipapplication.research_location_reason}}</dd>
                        <h3>Employer Support</h3>
      
      
                        </dd>
                        <h3>Additional funding</h3>
                        <dt>Have any additional funding</dt>
                        <dd>{{application_record.otherscholarshipapplication.have_additional_funding|yesno:"Yes,No"}}</dd>
                          <dt>Funding source</dt>
                          <dd>
                            {% if application_record.otherscholarshipapplication.specify_funding_type %}
                            {{application_record.otherscholarshipapplication.specify_funding_type}}
                            {% else %}
                            No funding source
                            {% endif %}
                          </dd>
                          <dt>Funding Type</dt>
                          {% if application_record.otherscholarshipapplication.funding_type %}
                          {{application_record.otherscholarshipapplication.funding_type}}
                          {% else %}
                          No funding source/not specified
                          {% endif %}
                          <dt>Already Funded </dt>
                          <dd>{{application_record.otherscholarshipapplication.already_funded|yesno:"Yes,No"}}</dd>
                          <dt>Amount Provided (US$)</dt>
                          {{application_record.otherscholarshipapplication.amount_provided}}
                          <h3>Referees</h3>
                          {% if referees|length > 0 %}
                          {% for referee in referees %}
      
                          <dl>
                            <dt>Referee {{forloop.counter}}</dt>
                            <dd><b>Names :</b>{{referee.referee_names}}</dd>
                            <dd><b>Addrees :</b>{{referee.referee_address}}</dd>
                            <dd><b>Contact :</b>{{referee.contact_details}}</dd>
                            <dd><b>Reference Letter :</b>
                              {% if referee.file %}
                              <a href="{{referee.file.url}}">{{referee.file}}</a>
                              {% else %}
                              No reference Letter
                              {% endif %}
                            </dd>
                        </dl>
      
                          {% endfor %}
                          {% else %}
                          <h6 class="text-center">No Referees Provided</h6>
                          {% endif %}
                         <dt>Was English the language of instruction in High school</dt>
                         <dd>{{application_record.otherscholarshipapplication.english_in_high_school|yesno:"Yes,No"}}</dd>
                         <dt>How the applicant learned about the call</dt>
                         <dd>{{application_record.get_scholarship_call_source_display}}</dd>
                         <h3>Research Concept Note</h3>
                         {% if application_record.otherscholarshipapplication.research_concept_note %}
                         <p><a href="{{application_record.otherscholarshipapplication.research_concept_note.url}}" target="blank">{{application_record.otherscholarshipapplication.research_concept_note}}</a></p>
                         {% else %}
                         No Concept paper
                         {% endif %} -->
                        </div>
      
                      </div>
      
      
                    
      
                    </div>
              </div>
        <!--END HERE-->

</div>

    </div>

  </div>
</div>

{% endblock %}
