{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .form-group label{
      font-weight: 800;
    }
  </style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      {% comment %}
      <span class="d-inline"><a class="primary_btn" href="{% url "scholarships:add_application" %}"><i class="fa fa-plus"></i>
          Add New Scholarship Application</a></span>
          {% endcomment %}
    </div>
  </div>
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="scholarships_filter" action="" method="POST">{% csrf_token %}
            <div class="card-header">
              <div class="card-title text-center">Filters</div>
              <div class="card-body">
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">FIRST NAME</label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name"
                      value="{{request.POST.first_name}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">LAST NAME</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                      value="{{request.POST.last_name}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">CALL ID</label>
                    <input type="text" class="form-control" placeholder="Call ID" name="call_id"
                      value="{{request.POST.call_id}}">
                  </div>
                </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">PROGRAMME</label>
                    <input type="text" class="form-control" placeholder="Programme applied for" name="programme"
                      value="{{request.POST.programme}}">
                  </div>
                </div>


                <div class="filter_col text-center col-3">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'scholarships:review_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="table_container_row row marl ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-right">

            <span class="float-left">Scholarship Applications - {% if show_pageitems %} {% show_pageitems %}{% else %}
              {{scholarships|length}}{% endif %}</span>

            <span class="filter_toggle">
              <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
            </span>

          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                {% if scholarships|length > 0 %}

                <tr>
                  <th width="5%">ID</th>
                  <th>Call ID</th>
                  <th>Call Title</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th width="15%">Programme Applied For</th>
                  <th width="15%">Actions</th>
                </tr>
                {% endif %}
              </thead>
              <tbody>
                {% if per_page %}
                {% paginate per_page scholarships %}
                {% else%}
                {% paginate 10 scholarships %}
                {% endif %}
                {% for scholarship in scholarships %}
                <tr style="text-align:center;">
                  <td scope="row">{{ scholarship.id }}</td>
                  <td><a href="#" data-toggle="modal" data-target="#exampleModalCenter_scholarship{{scholarship.id}}">{{scholarship.first_name}}
                      {{scholarship.call.call_id}}</a></td>
                  <td>
                      {{scholarship.call}}
                  </td>
                  <td>
                    {{scholarship.user.first_name}}
                  </td>
                  <td>
                    {{scholarship.user.last_name}}
                  </td>
                  <td>
                    {{scholarship.programme_applied_for}}
                  </td>
                  <td class="actions">
                    <a href="{% url "scholarships:view_scholarship" scholarship.pk%}" class="btn btn-info view" data-toggle="tooltip" title="Review"><i class="fas fa-eye"></i></a>


                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
          {%ifequal scholarships|length 0 %}
          <h6 class="text-center">No Scholarship Records Found</h6>
          {%endifequal%}
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- filter_row ends here -->
</div>
<!-- main_container ends here -->
<br clear="all">




{%endblock%}
{% block js_block %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }
  $('.delete').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#scholarships_filter').attr("action", $(this).attr("href"));
    $('#scholarships_filter').submit();
  });
  {% for message in messages %}
  $(document).ready(function() {
      $.notify("{{message}}", "{{ message.tags }}");
  });
  {% endfor %}
</script>
{% endblock js_block %}
